
.brands {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 0px
}

.brands_slider_container {
    height: 130px;
    padding-left: 20px;
    padding-right: 20px;
    background: #fff;
	padding-top:2px;
}

.brands_slider {
    height: 100%;
    margin-top: 15px
}

.brands_item {
    height: 100%
}

.brands_item img {
    max-width: 100%
}

.brands_nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 5px;
    cursor: pointer
}

.brands_nav i {
    color: #e5e5e5;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.brands_nav:hover i {
    color: #676767
}

.brands_prev {
   left: 11px;
    top: 65.2%;
}

.brands_next {
    right: 11px;
    top: 65.2%;
}
.owl-item {
    background: #e8e8e8;
    margin-top: 0px;
    margin-bottom: 0px;
}
.events p {
    font-size: 16px;
    margin-top: 10px;
	color:#888;
	line-height:26px;
}
.merinesolutions p {
    font-size: 13px;
	 font-size: 16px;
	color:#888;
	line-height:26px;
    
}
a:hover{
	text-decoration:none !important;
}
.thumbnail p {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 11px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding-left: 6px;
}
p.event-text {
    margin-top: 10px;
	font-size:13px;
}
.event-text img {
    vertical-align: baseline;
    margin-right: 5px;
}
.event-img {
    margin-top: 10px;
}

h2.main-headins {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 12px;
    font-size: 24px;
    color: #444;
	text-align:left;
	
}
.btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 5px;
}
p.event-text {
    margin-top: 10px;
    text-align: left;
}
.alert.alert-success.fade.in.alersts {
    padding: 0px;
    background-color: #5f9ea069;
}
.fade.in{
	position:absolute;
	margin-top:-20%;
}
.alert.alert-success.fade.in.alersts {
    margin-top: -72%;
    margin-left: 14%;
}
.container-fluid.banner-img {
    background-image: url(../assets/companypattern.png);
    background-color: #00c853;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
	padding-left: 7%;
    padding-top: 5%;
	padding-bottom: 5%;
	padding-right:14%;
}
h2.pix-white.pix-no-margin-top.secondary-font {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 36px;
    line-height: 58px;
}
.big-text {
    font-size: 16px;
    line-height: 26px;
	max-width: 100%;
    width: 580px;
	color: #9DFAC3;
}
.pix-padding-bottom-40 {
    padding-bottom: 40px;
}
.btn.btn-xl {
    padding: 18px 44px;
    font-size: 16px;
	background: #fdbd10;
	color:#fff;
}
.pix-margin-v-30 {
    margin: 30px 0;
	text-align:center;
}
.brown-bg.pix-white.wide{
	background-color:rgba(212, 68, 87, 0.9);
	padding:0.5em 1.4em;
	color:#fff;
}
 span.pix_edit_text strong{
  font-size: 24px;
    color: #444;
    line-height: 38px;
}
.pix-black-gray-light{
	color:#888;
	font-size:16px;
	line-height:26px;
}
.container.Marina-solution{
	margin-bottom:6%;
	margin-top:6%;
}
span.pix_edit_text.text-partners strong {
    color: #fff;
}
.well{
	padding:15px !important;
	background-color:#f4f4f4 !important;
}
.container.text-center {
    margin-top: 6%;
    margin-bottom: 6%;
}
.events {
    background-color: rgba(0,0,0,0.08);
    padding: 20px;
}
.pix-construction-1 {
    background-image: linear-gradient(rgba(54, 63, 72, 0.85), rgba(54, 63, 72, 0.85)),url(../assets/main.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.pix-white {
   
}
.secondary-font strong {
    font-family: 'Montserrat', sans-serif;
	font-size: 36px !important;
    line-height: 58px  !important;
	 color: #fff !important;
}
.pix-yellow strong{
    color: #fdbd10  !important;
	font-size: 20px !important;
    line-height: 32px !important;
}
.pix-black-transparent-50 {
    background: rgba(0,0,0,0.5);
}
.pix-padding-h-20 {
    padding-left: 20px;
    padding-right: 20px;
}
h4.pix-white.secondary-font strong  {
    font-size: 24px !important;
}
form.pix-form-light-white-bg .form-control {
    background: #ddd;
}
.pix-form-style input, .pix-form-style textarea {
    background: #eee;
    border: 0px;
    border-radius: 3px;
    outline: none;
    box-shadow: none;
    margin-bottom: 20px;
    width: 1005;
    -moz-box-sizing: border-box;
    padding: 14px 15px;
    height: 100%;
}
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.yellow-bg {
    background: #fdbd10;
	color:#fff;
	font-size:14px;
}
.small-text strong{
    font-size: 16px !important;
	color:#fff !important;
	line-height:24px !important;
}
.btn.btn-lg {
    padding: 14px 30px;
}
.pix-padding-top-120 {
    padding-top: 105px;
}
.container.form-containt {
    width: 980px;
}

.pix-md-width-text {
    max-width: 750px;
    display: inline-block;
}
.pix-margin-bottom-30 {
    margin-bottom: 30px;
}
.pix-padding-h-20 {
    padding-left: 20px;
    padding-right: 20px;
}
.pix-padding-v-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.white-bg {
    background: #fff;
}
.pix_section.pix-padding.gray-bg {
    background-color: #f4f4f4;
	padding-top:6%;
	padding-bottom:6%;
}
.pix-round-shape-60 {
    position: relative;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: inline-block;
    overflow: hidden;
}
h6.media-heading.pix-black-gray-dark strong{
	font-size:16px;
	line-height:24px;
}
h4.pix-white.secondary-font {
    margin-top: 0px;
    padding-top: 20px;
}



.cd-header__nav {
  /* mobile first - navigation hidden by default, triggered by tap/click on navigation icon */
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url("../assets/cd-icon-menu.svg") no-repeat center center;
}

.cd-header__nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.cd-header__nav ul.cd-is-visible {
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
}

.cd-header__nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #21272c;
  border-top: 1px solid #333c44;
  color: #ffffff;
  font-size:16px;
}
.cd-selected a:hover{
	color:#2c343b !important;
}
.cd-hero__nav .cd-selected a:hover{
	color:#2c343b;
	text-decoration:none;
}
a:focus, a:hover{
	color:#fff !important;
}
.dropdown-contentss a {
    color: #888 !important;
    padding: 8px 20px !important;
}
.light-black-bg {
    background: #222;
}
h5.pix-white.secondary-font strong {
    font-size: 20px !important;
    line-height: 32px !important;
}
.pix_orange_border {
    border-top: thick solid #ff9800;
    border-width: 3px;
}
.pix_feature_std {
    border-radius: 3px;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-top: thick solid #00c853;
    border-width: 3px;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 5%), 0px 1px 2px rgb(0 0 0 / 5%);
}
.gray-dark-bg {
    background: #444;
}
.btn.wide {
    padding-left: 34px;
    padding-right: 34px;
}
.btn-round-lg, form.form-round-lg .form-control {
    border-radius: 30px;
}
.orange-bg {
    background: #f7941d;
}
.btn-sm, .btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-round-lg strong {
    font-size: 16px !important;
    line-height: 25px !important;
}
.pix_orange_border {
    border-top: thick solid #ff9800;
    border-width: 3px;
}
.embed-responsive-4by3 {
    padding-bottom: 48% !important;
}
.small-social i {
    font-size: 26px;
    line-height: 26px;
    margin: 0 5px;
}
 .float-right {
    padding-right: 5px;
	float:right;
}
.float-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.float-right  li {
    display: inline-block;
    border-left: 1px solid #888;
    line-height: 12px;
    padding: 0 5px 0 7px;
}
p.float-left {
    width: 70%;
    display: contents;
}
.float-left a {
    color: #888;
}
.float-right a {
    color: #888;
}
.float-left a:hover {
    color: red !important;
}
.float-right a:hover {
    color: #888 !important;
}
ul.social {
    display: flex;
    flex-direction: row;
}
.social li {
    margin-right: 30px;
    margin-top: 15px;
}
.footer-content{
	padding-bottom:30px;
}
.pix-padding-v-35 {
    margin-top: 30px;
}
.cd-header__logo {
  float: left;
  margin: 0px 0 0 5%;
}

.cd-header__logo img {
  display: block;
  width:90%;
}
/* brand slider css end */



















*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #2c343b;
  background-color: #f2f2f2;
}

a {
  color: #d44457;
  text-decoration: none;
}

img, video {
  max-width: 100%;
}


.dropdown-contentss a {
    display: flex !important;
	color:#444;
}
.dropdowns .dropbtnss{
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
 
}

.dropdown-contentss a:hover{
   color: #aaa;
}

.dropdown-contentss {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  margin-top:-30px;
  z-index: 1;
}

.dropdown-contentss a {
  float: none;
  color: #fff;
  padding: 2px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-contentss a:hover {
  
}

.dropdowns:hover .dropdown-contentss {
  display: block;
}
.dropdown-contentss a {
    color: #888 !important;
    padding: 8px 20px !important;
}
.hero-videos{
	padding-top:100px !important;
}

/* Main Header */
.cd-header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #21272c;
}

@media only screen and (min-width: 768px) {
  .cd-header {
    height: 70px;
    background-color: transparent;
  }
}



@media only screen and (min-width: 768px) {
  .cd-header__logo {
    margin: 0px 0 0 5%;
  }
}


@media only screen and (min-width: 768px) {
  .cd-header__nav {
    /* reset navigation values */
    width: auto;
    height: auto;
    background: none;
  }
  .cd-header__nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    line-height: 70px;
  }
  .cd-header__nav ul.cd-is-visible {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  .cd-header__nav li {
    display: inline-block;
    margin-left: 1em;
  }
  .cd-header__nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
  }
}

/* Slider */
.cd-hero {
  position: relative;
}

.cd-hero__slider {
  position: relative;
  height: 360px;
  width: 100%;
  overflow: hidden;
}

.cd-hero__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
  will-change: transform;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cd-hero__slide.cd-hero__slide--selected {
  /* this is the visible slide */
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.cd-hero__slide.cd-hero__slide--move-left {
  /* slide hidden on the left */
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.cd-hero__slide.cd-hero__slide--is-moving,
.cd-hero__slide.cd-hero__slide--selected {
  /* the cd-hero__slide--is-moving class is assigned to the slide which is moving outside the viewport */
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

@media only screen and (max-width: 600px) {
  .cd-header__logo img {
    display: block;
    width: 210px;
}
.dropdowns {
    background: #21272c;
    border-top: 1px solid #333c44;
}
.dropdown-contentss {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    margin-top: 0px;
    z-index: 1;
}
.cd-hero__nav {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 2;
    text-align: center;
    height: 55px;
    background-color: #21272c !important;
	color:#fff !important;
}
.col-md-4.col-xs-12 {
    margin-top: 20px;
}
.brands_prev {
    left: 11px;
    top: 79.6%;
}
.brands_next{
    right: 11px;
    top: 79.6%;
}
.pix-padding-top-120 {
    padding-top: 25px;
}
.container.form-containt {
    width: auto;
}
.pix-md-width-text {
    max-width: fit-content;
    display: inline-block;
}
.pix-margin-bottom-30 {
    margin-bottom: 10px;
}
ul.social {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}
.pix-padding-v-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.pix-padding-v-30.text-center.pix-inline-block {
    display: none;
}

}

@media only screen and (min-width: 768px) {
  .cd-hero__slider {
    height: 500px;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-hero__slider {
    height: 680px;
  }
}

/* Slide style */
.cd-hero__slide {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cd-hero__slide:first-of-type {
  background-color: #2c343b;

}

.cd-hero__slide:nth-of-type(2) {
  background-color: #3d4952;
  background-image: url("../assets/tech-1-mobile.jpg") !important;
}



.cd-hero__slide:nth-of-type(3) {
  background-color: #2c343b;
  background-image: url("../assets/video-replace-mobile.jpg");
}

.cd-hero__slide:nth-of-type(4) {
  background-color: #2c343b;
  background-image: url(../assets/img.jpg);
}

.cd-hero__content.cd-hero__content--full-width,
.cd-hero__content.cd-hero__content--half-width {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  /* this padding is used to align the text */
  padding-top: 100px;
  text-align: center;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

.cd-hero__content h2, .cd-hero__content p, .cd-hero__btn, .cd-hero__content--img img {
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

.cd-hero__content.cd-hero__content--img {
  /* hide image on mobile device */
  display: none;
}

.cd-hero__content--img img {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.cd-hero__content.cd-hero__content--bg-video {
  /* hide video on mobile device */
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cd-hero__content--bg-video video {
  /* you won't see this element in the html, but it will be injected using javascript */
  display: block;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  height: auto;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.cd-hero__content h2, .cd-hero__content p {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  line-height: 1.2;
  margin: 0 auto 14px;
  color: #ffffff;
  width: 90%;
  max-width: 400px;
}

.cd-hero__content h2 {
  font-size: 2.4rem;
}

.cd-hero__content p {
  font-size: 1.4rem;
  line-height: 1.4;
}

.cd-hero__btn {
  display: inline-block;
  padding: 1.2em 1.4em;
  margin-top: .8em;
  background-color: rgba(212, 68, 87, 0.9);
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.cd-hero__btn.cd-hero__btn--secondary {
  background-color: rgba(22, 26, 30, 0.8);
}

.cd-hero__btn:nth-of-type(2) {
  margin-left: 1em;
}

.cd-hero__btn:hover {
  background-color: #d44457;
}

.cd-hero__btn.cd-hero__btn--secondary:hover {
  background-color: #161a1e;
}

@media only screen and (min-width: 768px) {
  .cd-hero__slide:nth-of-type(2),
  .cd-hero__slide:nth-of-type(3),
  .cd-hero__slide:nth-of-type(4) {
    /* background-image: none; */
  }

  .cd-hero__content.cd-hero__content--full-width,
  .cd-hero__content.cd-hero__content--half-width {
    padding-top: 150px;
  }
  .cd-hero__content.cd-hero__content--bg-video {
    display: block;
  }
  .cd-hero__content.cd-hero__content--half-width {
    width: 45%;
  }
  .cd-hero__content.cd-hero__content--half-width:first-of-type {
    left: 5%;
  }
  .cd-hero__content.cd-hero__content--half-width:nth-of-type(2) {
    right: 5%;
    left: auto;
  }
  .cd-hero__content.cd-hero__content--img {
    display: block;
  }
  .cd-hero__content h2, .cd-hero__content p {
    max-width: 520px;
  }
  .cd-hero__content h2 {
    font-size: 2.4em;
    font-weight: 300;
  }
  .cd-hero__btn {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-hero__content.cd-hero__content--full-width,
  .cd-hero__content.cd-hero__content--half-width {
    padding-top: 220px;
  }
  .cd-hero__content h2, .cd-hero__content p {
    margin-bottom: 20px;
  }
  .cd-hero__content h2 {
    font-size: 3.2em;
  }
  .cd-hero__content p {
    font-size: 1.6rem;
  }
}

/* Single slide animation */
@media only screen and (min-width: 768px) {
  .cd-hero__content.cd-hero__content--half-width {
    opacity: 0;
    -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
            transform: translateX(40px);
  }
  .cd-hero__slide--move-left .cd-hero__content.cd-hero__content--half-width {
    -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  .cd-hero__slide--selected .cd-hero__content.cd-hero__content--half-width {
    /* this is the visible slide */
    opacity: 1;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .cd-hero__slide--is-moving .cd-hero__content.cd-hero__content--half-width {
    /* this is the slide moving outside the viewport 
    wait for the end of the transition on the <li> parent before set opacity to 0 and translate to 40px/-40px */
    -webkit-transition: opacity 0s 0.5s, -webkit-transform 0s 0.5s;
    transition: opacity 0s 0.5s, -webkit-transform 0s 0.5s;
    transition: opacity 0s 0.5s, transform 0s 0.5s;
    transition: opacity 0s 0.5s, transform 0s 0.5s, -webkit-transform 0s 0.5s;
  }
  .cd-hero__slide--from-left.cd-hero__slide--selected .cd-hero__content.cd-hero__content--half-width:nth-of-type(2),
  .cd-hero__slide--from-right.cd-hero__slide--selected .cd-hero__content.cd-hero__content--half-width:first-of-type {
    /* this is the selected slide - different animation if it's entering from left or right */
    -webkit-transition: opacity 0.4s 0.2s, -webkit-transform 0.5s 0.2s;
    transition: opacity 0.4s 0.2s, -webkit-transform 0.5s 0.2s;
    transition: opacity 0.4s 0.2s, transform 0.5s 0.2s;
    transition: opacity 0.4s 0.2s, transform 0.5s 0.2s, -webkit-transform 0.5s 0.2s;
  }
  .cd-hero__slide--from-left.cd-hero__slide--selected .cd-hero__content.cd-hero__content--half-width:first-of-type,
  .cd-hero__slide--from-right.cd-hero__slide--selected .cd-hero__content.cd-hero__content--half-width:nth-of-type(2) {
    /* this is the selected slide - different animation if it's entering from left or right */
    -webkit-transition: opacity 0.4s 0.4s, -webkit-transform 0.5s 0.4s;
    transition: opacity 0.4s 0.4s, -webkit-transform 0.5s 0.4s;
    transition: opacity 0.4s 0.4s, transform 0.5s 0.4s;
    transition: opacity 0.4s 0.4s, transform 0.5s 0.4s, -webkit-transform 0.5s 0.4s;
  }
  .cd-hero__content--full-width h2,
  .cd-hero__content--full-width p,
  .cd-hero__content--full-width .cd-hero__btn {
    -webkit-transform: translateX(100px);
        -ms-transform: translateX(100px);
            transform: translateX(100px);
  }
  .cd-hero__slide--move-left .cd-hero__content--full-width h2,
  .cd-hero__slide--move-left .cd-hero__content--full-width p,
  .cd-hero__slide--move-left .cd-hero__content--full-width .cd-hero__btn {
    -webkit-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  .cd-hero__slide--selected .cd-hero__content--full-width h2,
  .cd-hero__slide--selected .cd-hero__content--full-width p,
  .cd-hero__slide--selected .cd-hero__content--full-width .cd-hero__btn {
    /* this is the visible slide */
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .cd-hero__slide--is-moving .cd-hero__content--full-width h2,
  .cd-hero__slide--is-moving .cd-hero__content--full-width p,
  .cd-hero__slide--is-moving .cd-hero__content--full-width .cd-hero__btn {
    /* this is the slide moving outside the viewport 
    wait for the end of the transition on the li parent before set translate to 100px/-100px */
    -webkit-transition: -webkit-transform 0s 0.5s;
    transition: -webkit-transform 0s 0.5s;
    transition: transform 0s 0.5s;
    transition: transform 0s 0.5s, -webkit-transform 0s 0.5s;
  }
  .cd-hero__slide--selected h2 {
    -webkit-transition: -webkit-transform 0.5s 0.2s;
    transition: -webkit-transform 0.5s 0.2s;
    transition: transform 0.5s 0.2s;
    transition: transform 0.5s 0.2s, -webkit-transform 0.5s 0.2s;
  }
  .cd-hero__slide--selected p {
    -webkit-transition: -webkit-transform 0.5s 0.3s;
    transition: -webkit-transform 0.5s 0.3s;
    transition: transform 0.5s 0.3s;
    transition: transform 0.5s 0.3s, -webkit-transform 0.5s 0.3s;
  }
  .cd-hero__slide--selected .cd-hero__btn {
    -webkit-transition: background-color 0.2s 0s, -webkit-transform 0.5s 0.4s;
    transition: background-color 0.2s 0s, -webkit-transform 0.5s 0.4s;
    transition: transform 0.5s 0.4s, background-color 0.2s 0s;
    transition: transform 0.5s 0.4s, background-color 0.2s 0s, -webkit-transform 0.5s 0.4s;
  }
}

/* Slider navigation */
.cd-hero__nav {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 2;
  text-align: center;
  height: 55px;
  background-color: rgba(0, 1, 1, 0.5);
}

.cd-hero__nav nav, .cd-hero__nav ul, .cd-hero__nav li, .cd-hero__nav a {
  height: 100%;
}

.cd-hero__nav nav {
  display: inline-block;
  position: relative;
}

.cd-hero__marker {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 100%;
  color: #d44457;
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 2px 0 currentColor;
          box-shadow: inset 0 2px 0 currentColor;
  -webkit-transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s, -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
}

.cd-hero__marker.cd-hero__marker--item-2 {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.cd-hero__marker.cd-hero__marker--item-3 {
  -webkit-transform: translateX(200%);
      -ms-transform: translateX(200%);
          transform: translateX(200%);
}

.cd-hero__marker.cd-hero__marker--item-4 {
  -webkit-transform: translateX(300%);
      -ms-transform: translateX(300%);
          transform: translateX(300%);
}

.cd-hero__marker.cd-hero__marker--item-5 {
  -webkit-transform: translateX(400%);
      -ms-transform: translateX(400%);
          transform: translateX(400%);
}

.cd-hero__nav ul::after {
  clear: both;
  content: "";
  display: table;
}

.cd-hero__nav li {
  display: inline-block;
  width: 60px;
  float: left;
}

.cd-hero__nav .cd-selected a {
  color: #2c343b;
}

.cd-hero__nav .cd-selected a:hover {
  background-color: transparent;
}

.cd-hero__nav a {
  display: block;
  position: relative;
  padding-top: 35px;
  font-size: 1rem;
  font-weight: 700;
  color: #a8b4be;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.cd-hero__nav a::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url(../assets/cd-icon-navigation.svg) no-repeat 0 0;
}

.cd-hero__nav a:hover {
  background-color: rgba(0, 1, 1, 0.5);
}

.cd-hero__nav li:first-of-type a::before {
  background-position: 0 0;
}

.cd-hero__nav li.cd-selected:first-of-type a::before {
  background-position: 0 -24px;
}

.cd-hero__nav li:nth-of-type(2) a::before {
  background-position: -24px 0;
}

.cd-hero__nav li.cd-selected:nth-of-type(2) a::before {
  background-position: -24px -24px;
}

.cd-hero__nav li:nth-of-type(3) a::before {
  background-position: -48px 0;
}

.cd-hero__nav li.cd-selected:nth-of-type(3) a::before {
  background-position: -48px -24px;
}

.cd-hero__nav li:nth-of-type(4) a::before {
  background-position: -72px 0;
}

.cd-hero__nav li.cd-selected:nth-of-type(4) a::before {
  background-position: -72px -24px;
}

.cd-hero__nav li:nth-of-type(5) a::before {
  background-position: -96px 0;
}

.cd-hero__nav li.cd-selected:nth-of-type(5) a::before {
  background-position: -96px -24px;
}

@media only screen and (min-width: 768px) {
  .cd-hero__nav {
    height: 80px;
  }
  .cd-hero__marker,
  .cd-hero__nav li {
    width: 95px;
  }
  .cd-hero__nav a {
    padding-top: 48px;
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  .cd-hero__nav a::before {
    top: 18px;
  }
}

/* Main Content */
.cd-main-content {
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
  padding: 2em 0;
}

.cd-main-content p {
  font-size: 1.4rem;
  line-height: 1.8;
  color: #999999;
  margin: 2em 0;
}

@media only screen and (min-width: 1170px) {
  .cd-main-content {
    padding: 3em 0;
  }
  .cd-main-content p {
    font-size: 1.6rem;
  }
}

/* Javascript disabled */
.no-js .cd-hero__slide {
  display: none;
}

.no-js .cd-hero__slide.cd-hero__slide--selected {
  display: block;
}

.no-js .cd-hero__nav {
  display: none;
}
